<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/assets/css/application.css">
    <script type="text/javascript" src="/assets/js/application.js"></script>
  </head>
  <body>
    <div class="layout__container">
      <div class="layout__header">
        <a href="/"><img src="../assets/images/logo.jpg"></a>
        <div classs="layout__lang-box">
          <a data-lang="en"><img src="../assets/images/en.png"></a>
          <a data-lang="ru"><img src="../assets/images/ru.png"></a>
          <a data-lang="ua"><img src="../assets/images/ua.png"></a>
        </div>
      </div>
      %YIELD%
    </div>
  </body>
</html>