<div class="profile__container">
  <h1 class="profile__title">%profile%</h1>
  <div class="profile__left-col">
    <div class="profile__field">
      <div class="profile__label">%first_name_label%</div>
      <div class="profile__value"> %first_name% </div>
    </div>
    <div class="profile__field">
      <div class="profile__label">%last_name_label%</div>
      <div class="profile__value"> %last_name% </div>
    </div>
    <div class="profile__field">
      <div class="profile__label">%email_label%</div>
      <div class="profile__value"> %email% </div>
    </div>
    <div class="profile__field">
      <div class="profile__label">%country_label%</div>
      <div class="profile__value"> %country% </div>
    </div>
    <div class="profile__field">
      <div class="profile__label">%city_label%</div>
      <div class="profile__value"> %city% </div>
    </div>
    <div class="profile__field">
      <div class="profile__label">%street_label%</div>
      <div class="profile__value"> %street% </div>
    </div>
    <div class="profile__field">
      <div class="profile__label">%house_label%</div>
      <div class="profile__value"> %house% </div>
    </div>
    <div class="profile__field">
      <div class="profile__label">%flat_label%</div>
      <div class="profile__value"> %flat% </div>
    </div>
    <div class="profile__field">
      <div class="profile__label">%phone_label%</div>
      <div class="profile__value"> %phone% </div>
    </div>
  </div>
  <div class="profile__right-col">
    <div class="profile__avatar">
      <img src="%avatar%" />
    </div>
  </div>
</div>